[Unit]
Description=Take ZFS snapshot of  %I every day, keep the last week
Documentation=man:zfs-snapshot(8)
Requires=zfs.target
After=zfs.target
ConditionACPower=true
ConditionPathIsDirectory=/sys/module/zfs

[Service]
ExecStart=/bin/sh /etc/systemd/system/my-zfs-snapshots-daily.sh %I
